---
import Image from "astro/components/Image.astro";
import IngredientChip from "./IngredientChip.astro";

const { recipe } = Astro.props;
---

<article class="space-y-3">
    <a href={`/recipes/${recipe.slug}`}>
        <div
            class="bg-red-100 border-solid border-black border-2 overflow-hidden h-72"
        >
            <Image
                src={recipe.data.image}
                alt=""
                class="hover:scale-110 transition-transform duration-300 object-cover h-full w-full"
            />
        </div>
    </a>
    <h4 class="font-serif text-sm">{recipe.data.category.toUpperCase()}</h4>
    <a href={`/recipes/${recipe.slug}`} class="block">
        <h3 class="text-2xl">{recipe.data.title}</h3>
    </a>
    <div class="flex flex-wrap gap-x-2 gap-y-1 mt-2">
        {
            recipe.data.ingredients.map((ingredient) => (
                <IngredientChip ingredient={ingredient} />
            ))
        }
    </div>
</article>
